<!DOCTYPE html>
<html>
  <head>
    <title>CookbookProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js" ></script>
  </head>
  
  <body>
    <% if user_signed_in? %>
      <nav>
        <ul class="flex">
          <li class="mr-6">
            <%= link_to 'All Recipes', root_path, class: "text-black-500 hover:text-blue-800#{' active' if current_page?(root_path)}" %>
          </li>
          <li class="mr-6">
            <%= link_to 'My Recipes', recipes_path, class: "text-black-500 hover:text-blue-800#{' active' if current_page?(recipes_path)}" %>
          </li>
          <li class="mr-6">
            <%= link_to "Favourites", favourites_path, class: "text-black-500 hover:text-blue-800#{' active' if current_page?(favourites_path)}" %>
          </li>
        </ul>
        <div id="access">
        <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}  %>
        </div>  
      </nav>
    <% end %>
    <div class="main-body">
      <%= yield %>
    </div>  
  </body>
</html>
